body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: rgb(206, 215, 218);
}

.container {
    display: grid;

    width: 1000px;
    height: 50vh;
    margin: auto;
    background: transparent;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(2, 200px);
    grid-gap: 30px 40px;
}

.item1 {
    background: hotpink;
    /* changing position 1st to 6th  using grid-positing*/
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

.item2 {
    background: rgb(92, 18, 18);
}

.item3 {
    background: rgb(45, 8, 71);
    /* short-hand property for positioning */
    grid-row: 2/3;
    grid-column: 2/3;
}

.item4 {
    background: rgb(5, 103, 194);
    /* more short hand property */
    grid-area: 1/1/2/2;
}

.item5 {
    background: rgba(61, 31, 47, 0.815);
    /* using grid position 2nd  */
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.item6 {
    background: rgb(252, 122, 0);
}